/* TO-DO

Set style for:
  header background
  title text

sketchbox container and sketchpad size
flexbox styles - set squares across and down
set hover reactions for squares

*/



/* GLOBAL SETTINGS */
:root {
  --sketchbox-width: 480px;
  --sketchbox-height: 480px;
  --grid-size: 16; /* Coordinate this with gridSize var in js file */

}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
}

html {
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  
}

/* FUNCTION/REACTION CLASSES */



/* OBJECT SETTINGS */
#header {
  width: 100%;
  height: 96px;
  background-color: rebeccapurple;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


#main-body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#footer {
  height: 36px;
  background-color: darkblue;
  color: white;
}

#sketchbox-container {
  background-color: skyblue;
  width: 600px;
  height: 600px;
  border: 24px solid lightslategray;
  border-radius: 7% 7% 0 0;
  box-shadow: 2px 14px 14px fuchsia;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sketchbox {
  box-sizing: content-box; /* Adds borders onto box width/height */
  width: var(--sketchbox-width);
  height: var(--sketchbox-height);
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.sketchbox-tile {
  width: calc((var(--sketchbox-width) / var(--grid-size)));
  height: calc((var(--sketchbox-height) / var(--grid-size)));
  background-color: beige;
  box-sizing: border-box; /* Deducts border from tile size */
}

#button-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-button {
  font-weight: bold;
  height: 32px;
  width: 72px;
}

#erase-button {
  font-weight: bold;
  height: 32px;
  width: 64px;
}