/* TO-DO

Set style for:
  header background
  title text

sketchbox container and sketchpad size
flexbox styles - set squares across and down
set hover reactions for squares

*/



/* GLOBAL SETTINGS */
:root {
  --sketchbox-width: 480px;
  --sketchbox-height: 480px;
  --grid-size: 16; /* Coordinate this with gridSize var in js file */

}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
}

html {
  background-color: lightpink;
}

/* FUNCTION/REACTION CLASSES */



/* OBJECT SETTINGS */
#title {
  background-color: lightgray;
}

#footer {
  background-color: lightgray;
}

#sketchbox-container {
  background-color: skyblue;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sketchbox {
  box-sizing: content-box; /* Adds borders onto box width/height */
  width: var(--sketchbox-width);
  height: var(--sketchbox-height);
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.sketchbox-tile {
  width: calc((var(--sketchbox-width) / var(--grid-size)));
  height: calc((var(--sketchbox-height) / var(--grid-size)));
  background-color: beige;
  box-sizing: border-box; /* Deducts border from tile size */
}

#button-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
